
hr {
    margin: 50px 0;
}

a {
    text-decoration: none;
}

.header {
    background: red;
    text-align: right;
}

.header a {
    color: white;
}

/* Task 1 */
.task1 {
    color: black;
    padding: 8px 16px;
    font-family: sans-serif;
    border: 2px solid;
    margin: 0 15px;
}

.brd-color-black{
    border-color: black;
}
.brd-color-gold{
    border-color: gold;
}
.brd-color-red{
    border-color: red;
}
.brd-color-blue{
    border-color: cornflowerblue;
}

/* Task 2 */
.task2 {
    font-family: sans-serif;
    padding: 10px 20px;
    margin: 0 15px;
}

.bg-gray {
    background-color: gray;
}
.bg-gold {
    background-color: gold;
}
.bg-indianred {
    background-color: indianred;
}
.bg-lightblue {
    background-color: lightblue;
}
.bg-skyblue {
    background-color: skyblue;
}

.txt-white {
    color: white;
}
.txt-black {
    color: black;
}

.txt-blue {
    color: turquoise;
}


/* Task 3 */
.task3-buttons {
    background-color: green;
}
.task3 {
    background-color: black;
    padding: 10px 15px;
    color: white;

    border-radius: 10px;
}
.border-radius-lb {
    border-bottom-left-radius: 0;
}
.border-radius-rb {
    border-bottom-right-radius: 0;
}
.border-radius-lt {
    border-top-left-radius: 0;
}
.border-radius-rt {
    border-top-right-radius: 0;
}

/* Task 5 */
.task5 {
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
}

.t5-small {
    font-size: 12px;
    padding: 5px 10px;
}
.t5-medium {
    font-size: 20px;
    padding: 6px 14px;
}
.t5-large {
    font-size: 30px;
    padding: 10px 20px;
}

.t5-border-radius{
    border-radius: 50px;
}

/* Table Students */
table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
  }


  .my-div {
      height: 500px;
      background-image: radial-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.513), rgba(0, 128, 0, 0.493), rgba(255, 255, 0, 0.472)),
                        url("../images/cocktail.jpg");
  }